## Корреляция

In [53]:
import pandas as pd
import numpy as np
import math

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).
Файл 'iliteracy.txt'

In [4]:
data = pd.read_csv('illiteracy.txt', sep = '\t', header = 0, index_col = 'Country')
data.head()

         Illit  Births
Country
Albania   20.5    1.78
Algeria   39.1    2.44
Bahrain   15.0    2.34
Belize     5.9    2.97
Benin     73.5    5.60

In [16]:
data.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [18]:
round(data.corr().iloc[1, 0], 4)

0.7687

In [19]:
data.corr(method = 'spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [20]:
round(data.corr(method = 'spearman').iloc[1, 0], 4)

0.753

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

In [21]:
data_water = pd.read_csv('water.txt', sep = '\t', header = 0)
data_water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [22]:
data_water[['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [23]:
round(data_water[['mortality', 'hardness']].corr().iloc[0,1], 4)

-0.6548

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [24]:
data_water[['mortality', 'hardness']].corr(method = 'spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [25]:
round(data_water[['mortality', 'hardness']].corr(method = 'spearman').iloc[0,1], 4)

-0.6317

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [34]:
round(data_water[data_water['location'] == 'South'][['mortality', 'hardness']].corr().iloc[0,1], 4)

-0.6022

In [35]:
round(data_water[data_water['location'] == 'North'][['mortality', 'hardness']].corr().iloc[0,1], 4)

-0.3686

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.  

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [36]:
a = 718.0
b = 203.0
c = 515.0
d = 239.0
mcc = (a*d - b*c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d))
round(mcc, 3)

0.109

В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили $5.5\times10^{-8}$, нужно ввести 8).

In [37]:
from scipy.stats import chi2_contingency

In [38]:
chi2_contingency(np.array([[a, b], [c, d]]))

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[677.96597015, 243.03402985],
        [555.03402985, 198.96597015]]))

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [41]:
from scipy import stats
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [45]:
men = [0]*515 + [1]*239
women = [0]*718 + [1]*203
print('95% confidence level: ', proportions_confint_diff_ind(men, women))
round(proportions_confint_diff_ind(men, women)[0], 4)

95% confidence level:  (0.053905233215813156, 0.13922183141523897)

0.0539

Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили $5.5\times10^{-8}$, нужно ввести 8).

In [46]:
stats.ttest_ind(men, women)

Ttest_indResult(statistic=4.485175262463444, pvalue=7.78139336142543e-06)

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

In [54]:
table = pd.DataFrame({'Не доволен':[197,382,110], 'Более-менее':[111, 685, 342], 'Доволен':[33,331,333]}, index = ['Не очень счастлив', 'Достаточно счастлив', 'Очень счастлив'])
table

                     Не доволен  Более-менее  Доволен
Не очень счастлив           197          111       33
Достаточно счастлив         382          685      331
Очень счастлив              110          342      333

Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [58]:
stats.chi2_contingency(table.iloc[:, :])[0]

293.68311039689746

На данных из предыдущего вопроса посчитайте значение достигаемого уровня значимости. Введите номер первой значащей цифры (например, если вы получили $5.5\times10^{-8}$, нужно ввести 8).

In [59]:
stats.chi2_contingency(table.iloc[:, :])

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [61]:
n = np.sum(table.iloc[:,:])
phi_cramera = np.sqrt(293.68311039689746 / (n * 2))
phi_cramera

Не доволен     0.461652
Более-менее    0.359214
Доволен        0.458995
dtype: float64

## Множественная проверка гипотез

Вопрос 1

Попарное сравнение средних большого количества выборок

Сравнение эффективности лечения пациентов в подгруппах по большому количеству признаков

Локализация различий в активности мозга испытуемых в разных экспериментальных условиях

Вопрос 2

Классификатор C4.5 и три его модификации: с оптимизацией гиперпараметра m, гиперпараметра cf и с одновременной оптимизацией обоих гиперпараметров. Эти четыре классификатора сравнивались на 14 наборах данных. На каждом датасете был посчитан AUC каждого классификатора. Данные записаны в файле: 'AUC.txt'

Используя критерий знаковых рангов, проведите попарное сравнение каждого классификатора с каждым. Выберите два классификатора, различие между которыми наиболее статистически значимо.

In [1]:
from scipy import stats
from scipy.stats import pearsonr
from statsmodels.sandbox.stats.multicomp import multipletests

In [13]:
df = pd.read_csv("AUCs.txt", sep='\t')
df.head()

                Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0           adult (sample)  0.763   0.768    0.771      0.798
1            breast cancer  0.599   0.591    0.590      0.569
2  breast cancer wisconsin  0.954   0.971    0.968      0.967
3                      cmc  0.628   0.661    0.654      0.657
4               ionosphere  0.882   0.888    0.886      0.898

In [6]:
p_data = []

for i, lhs_column in enumerate(df.columns[1:]):
    for j, rhs_column in enumerate(df.columns[1:]):
        if i >= j:
            continue
        
        p = stats.wilcoxon(df[lhs_column], df[rhs_column])[1]
        p_data.append([lhs_column, rhs_column, p])

In [8]:
df_p = pd.DataFrame.from_records(p_data)
df_p.columns = ['A', 'B', 'p']
df_p

         A          B         p
0     C4.5     C4.5+m  0.010757
1     C4.5    C4.5+cf  0.861262
2     C4.5  C4.5+m+cf  0.015906
3   C4.5+m    C4.5+cf  0.046333
4   C4.5+m  C4.5+m+cf  0.327826
5  C4.5+cf  C4.5+m+cf  0.022909

Сделаем поправку на множественную проверку. Начнём с метода Холма. Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки этим методом?

In [14]:
reject, p_corrected, a1, a2 = multipletests(df_p.p, 
                                            alpha = 0.05, 
                                            method = 'holm')

In [19]:
df_p['p_corrected'] = p_corrected
df_p['reject'] = reject
df_p.head(10)

         A          B         p  p_corrected  reject
0     C4.5     C4.5+m  0.010757     0.064543   False
1     C4.5    C4.5+cf  0.861262     0.861262   False
2     C4.5  C4.5+m+cf  0.015906     0.079532   False
3   C4.5+m    C4.5+cf  0.046333     0.138998   False
4   C4.5+m  C4.5+m+cf  0.327826     0.655651   False
5  C4.5+cf  C4.5+m+cf  0.022909     0.091636   False



Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки методом Бенджамини-Хохберга?

In [20]:
reject, p_corrected, a1, a2 = multipletests(df_p.p, 
                                            alpha = 0.05, 
                                            method = 'fdr_bh')

In [21]:
df_p['p_corrected'] = p_corrected
df_p['reject'] = reject
df_p.head(10)

         A          B         p  p_corrected  reject
0     C4.5     C4.5+m  0.010757     0.045818    True
1     C4.5    C4.5+cf  0.861262     0.861262   False
2     C4.5  C4.5+m+cf  0.015906     0.045818    True
3   C4.5+m    C4.5+cf  0.046333     0.069499   False
4   C4.5+m  C4.5+m+cf  0.327826     0.393391   False
5  C4.5+cf  C4.5+m+cf  0.022909     0.045818    True

## Регрессия

Давайте проанализируем данные опроса 4361 женщин из Ботсваны ('botswana.tsv'):

О каждой из них мы знаем:

    сколько детей она родила (признак ceb)
    возраст (age)
    длительность получения образования (educ)
    религиозная принадлежность (religion)
    идеальное, по её мнению, количество детей в семье (idlnchld)
    была ли она когда-нибудь замужем (evermarr)
    возраст первого замужества (agefm)
    длительность получения образования мужем (heduc)
    знает ли она о методах контрацепции (knowmeth)
    использует ли она методы контрацепции (usemeth)
    живёт ли она в городе (urban)
    есть ли у неё электричество, радио, телевизор и велосипед (electric, radio, tv, bicycle)

Давайте научимся оценивать количество детей ceb по остальным признакам.

Загрузите данные и внимательно изучите их. Сколько разных значений принимает признак religion?

In [72]:
raw = pd.read_csv("botswana.tsv", sep="\t", index_col=False) 
raw.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

In [31]:
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [40]:
raw.religion.unique()

array(['catholic', 'protestant', 'spirit', 'other'], dtype=object)

In [43]:
print(raw.shape)
print(raw.dropna().shape)

(4361, 15)
(1834, 15)

В разных признаках пропуски возникают по разным причинам и должны обрабатываться по-разному. 

Например, в признаке agefm пропуски стоят только там, где evermarr=0, то есть, они соответствуют женщинам, никогда не выходившим замуж. Таким образом, для этого признака NaN соответствует значению "не применимо". 

В подобных случаях, когда признак $x_1$ на части объектов в принципе не может принимать никакие значения, рекомендуется поступать так:

    создать новый бинарный признак x_2=1,x_1=’не применимо’,0,иначе;
    
    заменить "не применимо" в x_1 на произвольную константу ccc, которая среди других значений x_1 не встречается.

Теперь, когда мы построим регрессию на оба признака и получим модель вида $$y=\beta_0 + \beta_1 x_1 + \beta_2 x_2$$, на тех объектах, где x_1 было измерено, регрессионное уравнение примет вид $$y=\beta_0 + \beta_1 x$$, а там, где x_1 было "не применимо", получится $$y=\beta_0 + \beta_1 c + \beta_2$$. Выбор ccc влияет только на значение и интерпретацию $\beta_2$, но не $\beta_1$.

Давайте используем этот метод для обработки пропусков в agefm и heduc.

    Создайте признак nevermarr, равный единице там, где в agefm пропуски.
    Удалите признак evermarr — в сумме с nevermarr он даёт константу, значит, в нашей матрице X будет мультиколлинеарность.
    Замените NaN в признаке agefm на $c_{agefm}=0$.
    У объектов, где nevermarr = 1, замените NaN в признаке heduc на $c_{heduc_1}=-1$(ноль использовать нельзя, так как он уже встречается у некоторых объектов выборки).

Сколько осталось пропущенных значений в признаке heduc?

In [73]:
data = raw

data['nevermarr'] = raw['agefm'].apply(lambda x : 1 if math.isnan(x) else 0)
data.drop('evermarr', axis=1, inplace=True)

In [98]:
data['agefm'].fillna(value = 0, inplace = True)

In [129]:
data.loc[data['nevermarr'] == 1, 'heduc'] = 2282 * [-1]

In [130]:
data.heduc.isnull().sum()

123

Для признаков idlnchld, heduc и usemeth проведите операцию, аналогичную предыдущей: создайте индикаторы пропусков по этим признакам (idlnchld_noans, heduc_noans, usemeth_noans), замените пропуски на нехарактерные значения ($c_{idlnchld}=-1, c_{heduc_2}=-2$ (значение -1 мы уже использовали), $c_{usemeth}=-1$).

Остались только пропуски в признаках knowmeth, electric, radio, tv и bicycle. Их очень мало, так что удалите объекты, на которых их значения пропущены.

Какого размера теперь наша матрица данных? Умножьте количество строк на количество всех столбцов (включая отклик ceb).

In [151]:
data['idlnchld_noans'] = data['idlnchld'].apply(lambda x : 1 if math.isnan(x) else 0)
data['heduc_noans'] = data['heduc'].apply(lambda x : 1 if math.isnan(x) else 0)
data['usemeth_noans'] = data['usemeth'].apply(lambda x : 1 if math.isnan(x) else 0)
data['idlnchld'].fillna(value = -1, inplace = True)
data['heduc'].fillna(value = -2, inplace = True)
data['usemeth'].fillna(value = -1, inplace = True)

In [152]:
print(data.shape)
print(data.dropna().shape)

(4361, 18)
(4348, 18)

In [167]:
fin_data = data.dropna()
print(fin_data.shape)
print(fin_data.shape[0] * fin_data.shape[1])
fin_data.head()

(4348, 18)
78264

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr,idlnchld_noans,heduc_noans,usemeth_noans
0,0,18,10,catholic,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1,0,0,0
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0,0,0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0,0,0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1,0,0,0
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0,0,0,0

In [162]:
import scipy as sc
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.graphics.regressionplots import plot_leverage_resid2

Постройте регрессию количества детей ceb на все имеющиеся признаки методом smf.ols, как в разобранном до этого примере. Какой получился коэффициент детерминации $R^2$? Округлите до трёх знаков после десятичной точки.

In [168]:
features = fin_data.columns.drop('ceb')
features_string = " + ".join(features)
features_string

'age + educ + religion + idlnchld + knowmeth + usemeth + agefm + heduc + urban + electric + radio + tv + bicycle + nevermarr + idlnchld_noans + heduc_noans + usemeth_noans'

In [169]:
m1 = smf.ols('ceb ~ ' + features_string, 
             data=fin_data)
fitted = m1.fit()
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.638
Model:                            OLS   Adj. R-squared:                  0.637
Method:                 Least Squares   F-statistic:                     477.9
Date:                Sat, 19 Dec 2020   Prob (F-statistic):               0.00
Time:                        21:36:49   Log-Likelihood:                -7767.4
No. Observations:                4348   AIC:                         1.557e+04
Df Residuals:                    4331   BIC:                         1.568e+04
Df Model:                          16
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -0.9862      0.211     -4.668      0.000      -1.400      -0.572
religion[T.other]         -0.0924      0.083     -1.108      0.268      -0.256       0.071
religion[T.protestant]    -0.0216      0.083     -0.261      0.794      -0.184       0.141
religion[T.spirit]        -0.0198      0.078     -0.254      0.800      -0.172       0.133
age                        0.1736      0.003     53.381      0.000       0.167       0.180
educ                      -0.0762      0.007    -10.373      0.000      -0.091      -0.062
idlnchld                   0.0568      0.010      5.774      0.000       0.038       0.076
knowmeth                   0.5744      0.122      4.726      0.000       0.336       0.813
usemeth                    0.5464      0.044     12.306      0.000       0.459       0.633
agefm                     -0.0630      0.007     -9.539      0.000      -0.076      -0.050
heduc                     -0.0381      0.008     -5.051      0.000      -0.053      -0.023
urban                     -0.2311      0.047     -4.866      0.000      -0.324      -0.138
electric                  -0.2928      0.078     -3.768      0.000      -0.445      -0.140
radio                     -0.0302      0.051     -0.589      0.556      -0.131       0.070
tv                        -0.1741      0.093     -1.866      0.062      -0.357       0.009
bicycle                    0.2138      0.051      4.225      0.000       0.115       0.313
nevermarr                 -2.1640      0.147    -14.769      0.000      -2.451      -1.877
idlnchld_noans                  0          0        nan        nan           0           0
heduc_noans                     0          0        nan        nan           0           0
usemeth_noans                   0          0        nan        nan           0           0
==============================================================================
Omnibus:                      226.303   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              872.294
Skew:                          -0.006   Prob(JB):                    3.84e-190
Kurtosis:                       5.194   Cond. No.                          inf
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/usr/local/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1860: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])

In [170]:
print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(fitted.resid, fitted.model.exog)[1])

Breusch-Pagan test: p=0.000000

In [171]:
m2 = smf.ols('ceb ~ ' + features_string, 
             data=fin_data)
fitted = m2.fit(cov_type='HC1')
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.638
Model:                            OLS   Adj. R-squared:                  0.637
Method:                 Least Squares   F-statistic:                     380.7
Date:                Sat, 19 Dec 2020   Prob (F-statistic):               0.00
Time:                        21:40:48   Log-Likelihood:                -7767.4
No. Observations:                4348   AIC:                         1.557e+04
Df Residuals:                    4331   BIC:                         1.568e+04
Df Model:                          16
Covariance Type:                  HC1
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -0.9862      0.258     -3.817      0.000      -1.493      -0.480
religion[T.other]         -0.0924      0.078     -1.184      0.237      -0.245       0.061
religion[T.protestant]    -0.0216      0.078     -0.277      0.782      -0.175       0.131
religion[T.spirit]        -0.0198      0.072     -0.276      0.782      -0.160       0.121
age                        0.1736      0.004     39.792      0.000       0.165       0.182
educ                      -0.0762      0.007    -10.436      0.000      -0.091      -0.062
idlnchld                   0.0568      0.014      4.182      0.000       0.030       0.083
knowmeth                   0.5744      0.172      3.345      0.001       0.238       0.911
usemeth                    0.5464      0.047     11.646      0.000       0.454       0.638
agefm                     -0.0630      0.010     -6.437      0.000      -0.082      -0.044
heduc                     -0.0381      0.009     -4.478      0.000      -0.055      -0.021
urban                     -0.2311      0.046     -5.003      0.000      -0.322      -0.141
electric                  -0.2928      0.074     -3.975      0.000      -0.437      -0.148
radio                     -0.0302      0.053     -0.569      0.569      -0.134       0.074
tv                        -0.1741      0.083     -2.089      0.037      -0.337      -0.011
bicycle                    0.2138      0.049      4.361      0.000       0.118       0.310
nevermarr                 -2.1640      0.202    -10.737      0.000      -2.559      -1.769
idlnchld_noans                  0          0        nan        nan           0           0
heduc_noans                     0          0        nan        nan           0           0
usemeth_noans                   0          0        nan        nan           0           0
==============================================================================
Omnibus:                      226.303   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              872.294
Skew:                          -0.006   Prob(JB):                    3.84e-190
Kurtosis:                       5.194   Cond. No.                          inf
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/usr/local/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1860: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])
/usr/local/lib/python3.9/site-packages/statsmodels/base/model.py:1832: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 19, but rank is 16
  warnings.warn('covariance of constraints does not have full '

In [172]:
print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(fitted.resid, fitted.model.exog)[1])

Breusch-Pagan test: p=0.000000

Удалите из модели незначимые признаки religion, radio и tv. Проверьте гомоскедастичность ошибки, при необходимости сделайте поправку Уайта. 

Не произошло ли значимого ухудшения модели после удаления этой группы признаков? Проверьте с помощью критерия Фишера. Чему равен его достигаемый уровень значимости? Округлите до четырёх цифр после десятичной точки.

Если достигаемый уровень значимости получился маленький, верните все удалённые признаки; если он достаточно велик, оставьте модель без религии, тв и радио.

In [173]:
features_new = fin_data.columns.drop(['ceb', 'religion', 'tv', 'radio'])
features_string_new = " + ".join(features_new)
features_string_new

'age + educ + idlnchld + knowmeth + usemeth + agefm + heduc + urban + electric + bicycle + nevermarr + idlnchld_noans + heduc_noans + usemeth_noans'

In [174]:
m3 = smf.ols('ceb ~ ' + features_string_new, 
             data=fin_data)
fitted = m3.fit(cov_type='HC1')
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.638
Model:                            OLS   Adj. R-squared:                  0.637
Method:                 Least Squares   F-statistic:                     547.4
Date:                Sat, 19 Dec 2020   Prob (F-statistic):               0.00
Time:                        21:56:03   Log-Likelihood:                -7770.6
No. Observations:                4348   AIC:                         1.557e+04
Df Residuals:                    4336   BIC:                         1.564e+04
Df Model:                          11
Covariance Type:                  HC1
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -1.0350      0.250     -4.147      0.000      -1.524      -0.546
age                0.1735      0.004     39.874      0.000       0.165       0.182
educ              -0.0772      0.007    -10.897      0.000      -0.091      -0.063
idlnchld           0.0580      0.014      4.275      0.000       0.031       0.085
knowmeth           0.5801      0.171      3.385      0.001       0.244       0.916
usemeth            0.5500      0.047     11.747      0.000       0.458       0.642
agefm             -0.0632      0.010     -6.463      0.000      -0.082      -0.044
heduc             -0.0404      0.008     -4.802      0.000      -0.057      -0.024
urban             -0.2381      0.046     -5.195      0.000      -0.328      -0.148
electric          -0.3560      0.065     -5.481      0.000      -0.483      -0.229
bicycle            0.2025      0.048      4.181      0.000       0.108       0.297
nevermarr         -2.1754      0.201    -10.813      0.000      -2.570      -1.781
idlnchld_noans          0          0        nan        nan           0           0
heduc_noans             0          0        nan        nan           0           0
usemeth_noans           0          0        nan        nan           0           0
==============================================================================
Omnibus:                      225.915   Durbin-Watson:                   1.882
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              869.577
Skew:                          -0.005   Prob(JB):                    1.49e-189
Kurtosis:                       5.191   Cond. No.                          inf
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/usr/local/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1860: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])
/usr/local/lib/python3.9/site-packages/statsmodels/base/model.py:1832: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 14, but rank is 11
  warnings.warn('covariance of constraints does not have full '

In [176]:
print("F=%f, p=%f, k1=%f" % m2.fit().compare_f_test(m3.fit()))

F=1.244235, p=0.285502, k1=5.000000